body {
    font-family: sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: all ! important;
}

.main {
    height: 100vh;
    width: 100vw;
    user-select: none;
}
.border {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    border-radius: 40px;
    pointer-events: none;
    background:
        radial-gradient(ellipse 40% 300px at top, rgba(235, 0, 78, 0.2), transparent 100%) top / 100vw 300px no-repeat,
        radial-gradient(ellipse 40% 300px at bottom, rgba(0, 204, 255, 0.2), transparent 100%) top / 100vw 100vh no-repeat,
        radial-gradient(circle at top left, rgba(255, 0, 255, 0.4), transparent 40%),
        radial-gradient(circle at top right, rgba(255, 255, 0, 0.3), transparent 40%),
        radial-gradient(circle at bottom left, rgba(0, 255, 255, 0.2), transparent 40%),
        radial-gradient(circle at bottom right, rgba(0, 200, 255, 0.2), transparent 40%),
        radial-gradient(circle, transparent 30%, rgba(0,0,0,0) 70%);
    background-repeat: no-repeat;
    filter: blur(50px);
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
    animation: fadeIn 1s forwards, bgMove 6s ease-in-out infinite alternate;
    pointer-events: none;
}

.border.fade-out::before {
    animation: fadeOut 0.3s forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
}

@keyframes bgMove {
    0% {
        transform: translate(-50%, -50%) scale(1);
        filter: blur(50px);
    }
    100% {
        transform: translate(calc(-50% + 10px), calc(-50% + 10px)) scale(1.5);
        filter: blur(55px);
    }
}


.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 500px;
    height: 300px;
    background-color: rgb(27, 27, 27);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: popIn 0.25s forwards;
    color: white;
}

.content.fade-out {
    animation: popOut 0.15s forwards;
}

@keyframes popIn {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes popOut {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
}

#prompt {
    width: calc(100% - 60px);
    height: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    border-bottom: 1px solid #535353;
    background-color: transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

.previous-prompts {
    width: calc(100% - 20px);
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    outline: none;
    user-select: text;
    scrollbar-width: thin;
    scrollbar-color: #535353 transparent;
    
}

.previous-prompt {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.previous-prompt.maxHeight {
    height: max-content;
}

.previous-prompt p {
    margin: 0;
    padding: 0;
}

.prompt {
    font-weight: 500;
    font-size: 18px;
    color: white;
    max-width: calc(100% - 64px - 20px);
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.answer {
    font-size: 16px;
    color: lightgrey;
    max-width: calc(100% - 64px - 20px);
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.previous-prompt.maxHeight .prompt,
.previous-prompt.maxHeight .answer {
    overflow: visible;
    text-overflow: ellipsis;
    white-space: unset;
}

.back-btn {
    background-color: #535353;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
}