body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: transparent;
}
@keyframes goSmall {
    0% {
        width: 100vw;
        height: 100vh;
    }
    100% {
        width: 400px;
        height: 140px;
    }
}

@keyframes goBig {
    0% {
        width: 400px;
        height: 140px;
    }
    100% {
        width: 100vw;
        height: 100vh;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 140px;
    background-color: black;
    color: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    user-select: none;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
}

body.expanded .main {
    animation: goBig 0.5s ease-in-out forwards;
    transform-origin: top center;
    width: 100vw;
    height: 100vh;
}

body.island .main {
    animation: goSmall 0.5s ease-in-out forwards;
    transform-origin: top center;
    width: 400px;
    height: 140px;
}


.notification {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: none;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

p {
    margin: 0;
    padding: 0;
}

#notification-title {
    font-weight: 500;
    font-size: 18px;
    max-width: 100%;
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

#notification-text {
    font-size: 14px;
    color: lightgrey;
    max-width: 100%;
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-app {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    width: 100%;
    font-size: 14px;
    color: lightgrey;
}

#notification-icon {
    width: 16px;
    height: 16px;
}

.music {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    display: none;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.song-image {
    border-radius: 5px;
}

.artist-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

.title-artist {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
    width: 100%;
}

.title-artist p {
    margin: 0;
    padding: 0;
}

#song-title {
    font-weight: 500;
    font-size: 18px;
    max-width: calc(100% - 64px);
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#song-artist {
    font-size: 14px;
    color: lightgrey;
    max-width: calc(100% - 64px);
    width: 100%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    width: 0%;
    height: 100%;
    background-color: white;
    transition: width 0.2s ease-in-out;
}

.totalProgressBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    gap: 10px;
}

#song-time, #song-duration {
    font-size: 12px;
    color: lightgrey;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.control-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.control-button img {
    width: 26px;
    height: 26px;
}

.control-button:hover {
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
}

.control-button:active {
    background-color: rgb(64, 64, 64);
    border-radius: 5px;
    outline: none;
}

.control-button:focus {
    outline: none;
}

.pages,
.shortcuts {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10px;
    gap: 5px;
    bottom: 10px;
}

.shortcuts {
    align-items: center;
    justify-content: start;
    padding: 5px;
    bottom: 5px;
    gap: 0px;
    width: max-content;
    left: 0px;
}

.shortcut {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.shortcut:hover {
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
}

.shortcut-icon {
    width: 16px;
    height: 16px;
    color: rgb(146, 146, 146);
}

.page {
    display: flex;
    width: 10px;
    height: 6px;
    border-radius: 5px;
    background-color: rgb(146, 146, 146);
    cursor: pointer;
    pointer-events: all;
}

.page.active {
    background-color: white;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.home-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.song-small {
    font-size: 14px;
    color: lightgrey;
    max-width: 40%;
    width: 40%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.song-small span {
    display: inline-block;
    padding-left: 0;
    animation: scroll-text 5s steps(50) infinite alternate;
    animation-delay: 1s;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    90% {
        transform: translateX(calc(-100% + 40%));
    }
    100% {
        transform: translateX(calc(-100% + 40%));
    }
}

.apps {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    padding: 5px;
    width: 64px;
    height: 64px;
}

.app:hover {
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
}

.app img {
    width: 32px;
    height: 32px;
}

.app p {
    font-size: 14px;
    color: white;
}

.app-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#collapse-to-island {
    display: none;
}

body.expanded #collapse-to-island {
    display: flex;
}

body.expanded #expand-to-app {
    display: none;
}

body #expand-to-app {
    display: flex;
}